@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fundo padrão e tipografia */
html, body {
  background-color: #f9fafb; /* cinza claro */
  color: #1f2937; /* cinza escuro */
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

h1, h2, h3 {
  font-weight: 600;
  color: #1e3a8a; /* azul escuro */
}
